@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

.font-quicksand {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

/* SHARED STYLES */
.display-flex {
    display: flex;
}

.btn-primary {
    color: white;
    border-radius: 0.7rem;
    background-color: orange;
    font-size: 1rem;
    padding: 10px 40px 10px 40px;
    border: none;
}

.color-font-common {
    font-weight: normal;
    color: #808080;
}


/* HEADER */
/* navbar */
.overall-margin {
    width: 1050px;
    margin: 0 auto;
}

.nav-container {
    justify-content: space-between;
    margin: 1rem 0rem;
    align-items: center;
    height: 3.2rem;
}

.bag-school {
    gap: 0.7rem;
}

.nav-title {
    font-size: 1.2rem;
}

.nav-list-item {
    list-style: none;
    padding-right: 2rem;
}

.nav-list-item-1 {
    color: orange;
}

.nav-list-item-2 {
    color: rgb(205, 131, 246);
}

.nav-list-item-3 {
    color: #1fed03;
}

.nav-list-item-4 {
    color: #5D58EF;
}

.nav-container {
    display: flex;
}

.nav-mobile {
    display: none;
}



/* banner */
.banner {
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;

}

.banner-title {
    font-size: 3rem;
    margin: 0rem;
}

.banner-description {
    font-size: 1rem;
    padding: 1.5rem 0rem;
}


.empowering {
    color: orange;
}

.towards-vision {
    color: rgb(114, 101, 229);
}

.banner-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.7rem;
    font-size: 1.1rem;
    width: 12rem;
    height: 3.5rem;
}

/* MAIN */
.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background: url('../assets/bg.png'), linear-gradient(to bottom, rgba(0, 0, 123, 0), rgba(144, 238, 144, 0.65))
}

/* Carriculam */
.carriculam-card {
    gap: 1.8rem;
}

.curriculam-title {
    display: flex;
    justify-content: center;
    margin-top: 3.8rem;
    margin-bottom: 3.8rem;
    font-size: 2.8rem;

}

.car-items-1 {
    text-align: center;
    background: linear-gradient(to bottom, rgb(207, 235, 247), white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.car-items-2 {
    text-align: center;
    background: linear-gradient(to bottom, rgb(236, 250, 185), white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.car-items-3 {
    text-align: center;
    background: linear-gradient(to bottom, rgb(244, 171, 200), white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.car-read-more-1 {
    color: skyblue;
}

.car-read-more-2 {
    color: orange;
}

.car-read-more-3 {
    color: blueviolet;
}

.main-sec-1 {
    margin-bottom: 5rem;
}

.big-container {
    text-align: left;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(76, 3, 3, 0.1);
}

.grid-items {
    text-align: left;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(76, 3, 3, 0.1);
}


.flex-grid-con {
    gap: 1rem;
}

.grid-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

.big-con-img,
.grid-con-img {
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
}

.big-con-title,
.big-con-des,
.grid-con-title {
    padding-left: 1.5rem;
    padding: 1rem;
}

.grid-con-des-1,
.grid-con-des-2,
.grid-con-des-3,
.grid-con-des-4,
.grid-con-des-5 {
    background-color: #04d4eb;
    color: white;
    width: 10rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1.5rem;
    margin-top: -2rem;
    position: absolute;
}
.grid-con-des-2 {
    background-color: #95B226;
}
.grid-con-des-3 {
    background-color: #4e4bf3;
}
.grid-con-des-4 {
    background-color: #fc4327;
}
.grid-con-des-5 {
    background-color: #48db04;
}
.btn-stories{
    display: flex;
    justify-content: center;
    margin-top: 3.8rem;
    margin-bottom: 3.8rem;
}

/* main2 */
.circle-arrow{
    display: flex;
    gap: 0.7rem;
    padding-top: -4rem;
    padding-bottom: 0rem;
}

.circle-right, .circle-left{
    background-color: #48db04;
    border-radius: 2.5rem;
    width: 4rem;
    height: 4rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}
.stories-button, .circle-arrow{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.circle-arrow{
    margin-bottom: -3rem;
}
.headline{
    font-size: 1.4rem;
    background-color: #48db04;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px rgba(0, 0, 0, 0.2); ;
    color: white;
    font-weight: 400;
}

/* FOOTER */
footer{
    color: white;
    background-color: #01ACFD;
}
.footer-sub{
    padding-top: 5rem;
    padding-bottom: 6rem;
    gap: 4rem;
}
.bag-kids{
    gap: 1rem;
    align-items: center;
}
.f-soc{
    gap: 0.5rem;
}
.f-con-des{
    width: 77%;
}
.about-school{
    font-size: 1.3rem;
    margin-right: 0.5rem;
    padding-bottom: 0px;
}

.f-content{
    background-color: #01ACFD;
}


/* Media Query for Mobile Device*/
@media screen and (max-width: 576px) {
    .bg {
        background: url('../assets/bg.png'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .nav-container {
        display: none;
    }

    .nav-mobile {
        display: block;
        margin-top: 2rem;
    }

    .n-m {
        display: flex;
        justify-content: space-between;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .horizontal-line hr {
        border: none;
        height: 1px;
        background-color: orange;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-content {
        text-align: center;
    }


    .carriculam-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15rem;
        margin-right: 15rem;
    }
    

    .car-items-1,
    .car-items-2,
    .car-items-3 {
        padding: 7rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1); 
    }

    .big-container{
        display: none;
    }
    .grid-con{
        width: 96%;
        text-align: center;
        border-right: 3rem;
        
    }
    .grid-items{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
    }
    .circle-arrow{
        display: none;
    }
    .footer-sub{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 2rem;
        background-color: #01ACFD
    }
    footer{
        margin-left: ;
    }
    .f-con-des{
        width: 50%;
    }
    .headline{
        display: none;
    }
}